<div class="outer-wrapper">
  <div class="head-sec">
    <h6>Job Detail</h6>
  </div>
  <div class="job-details">
    <p><strong>Industry Name:</strong> Industry 1</p>
    <p><strong>Job Role:</strong> Housekeeping</p>
    <p><strong>Job Time:</strong> Full Time</p>
    <p><strong>Salary:</strong> 100$</p>
    <p><strong>English Proficiency:</strong> Low</p>
    <p><strong>Everify:</strong> Yes</p>
    <p><strong>Hours:</strong> 8</p>
    <p><strong>Work Experience:</strong> Yes</p>
    <p><strong>No. of Vacancies:</strong> 22</p>
    <p><strong>Date & Time:</strong> <span class="date">2-08-2019</span> <span class="time">10:00 AM</span></p>
    <p><strong>Location:</strong> 52 St Louis Avenue Framingham, MA 01701</p>
  </div>
  <div class="job-description">
    <p><strong>Skills Required:</strong> Skill1, Skill2</p>
    <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><strong>Photos:</strong></p>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="doc-wrapper">
          <img src="images/doc.png" alt="Documanet">
        </div>
      </div>
    </div>
  </div>
</div>