  <footer class="st-footer">
    <div class="top-footer">		
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="inner-sec">
              <div class="logo">
                <a href="index.html"><img src="./assets/images/footer-logo.png" alt="Logo"></a>
              </div>
              <ul class="foot-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">News</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/terms-n-conditions">Terms and Conditions</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
              </ul>
              <ul class="social-menu">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.top-footer-->
    <div class="copyright-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="inner-sec">
              <p>&copy; 2019 All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
