<article class="st_content">
  <section class="banner-sec">
    <img src="./assets/images/banner.png" alt="Hero Banner">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12 col-12">
            <div class="inner-sec">
              <h1>welcome to your professional community</h1>
              <form id="" class="" name="" method="" action="">
                <div class="form-group">
                  <input type="text" id="" class="form-control" name="" value="" placeholder="Find jobs in your area">
                  <button type="button" class="btn btn-primary btn-searh-outline"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.banner-sec-->
  <section class="services-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="head-sec">
            <h2>Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="swiper-container services-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="icon">
                    <img src="./assets/images/cleaning.png" alt="Service">
                  </div>
                  <h5>Cleaning</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="icon">
                    <img src="./assets/images/office-assistant.png" alt="Service">
                  </div>
                  <h5>Office Assistant</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="icon">
                    <img src="./assets/images/kitchen.png" alt="Service">
                  </div>
                  <h5>Kitchen</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="icon">
                    <img src="./assets/images/kitchen-remodeling.png" alt="Service">
                  </div>
                  <h5>Kitchen Remodeling</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="icon">
                    <img src="./assets/images/window-and-doors.png" alt="Service">
                  </div>
                  <h5>Window And Doors</h5>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="icon">
                    <img src="./assets/images/kitchen.png" alt="Service">
                  </div>
                  <h5>Kitchen</h5>
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.services-sec-->
  <section class="how-we-work">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
          <div class="inner-sec">
            <h2>How We Work</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.  qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
          <div class="img_wrapper">
            <img src="./assets/images/how-we-work.png" alt="Banner">
            <div class="overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.how-we-work-->
  <section class="statistics-sec">
    <img src="./assets/images/statistics.png" alt="BG-Image">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-12 col-12 m-auto">
            <div class="inner-sec">
              <h2>Statistics</h2>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="counter">
                  <div class="counted-num">
                    <h2>18</h2>
                  </div>
                  <h5>Published Work</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="counter">
                  <div class="counted-num">
                    <h2>38</h2>
                  </div>
                  <h5>Full Job</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="counter">
                  <div class="counted-num">
                    <h2>44</h2>
                  </div>
                  <h5>Companies</h5>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="counter">
                  <div class="counted-num">
                    <h2>92</h2>
                  </div>
                  <h5>Members</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.statistics-sec-->
  <section class="testimonial-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="head-sec">
            <h2>Testimonials</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="swiper-container testimonial-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="avatar">
                    <img src="./assets/images/avatar.png" alt="Avatar">
                  </div>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                  <h6>H. Rackham</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="avatar">
                    <img src="./assets/images/avatar.png" alt="Avatar">
                  </div>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                  <h6>H. Rackham</h6>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="inner-sec">
                  <div class="avatar">
                    <img src="./assets/images/avatar.png" alt="Avatar">
                  </div>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
                  <h6>H. Rackham</h6>
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.testimonial-sec-->
  <section class="subscribe-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
          <div class="inner-sec">
            <h2>Do you still need help?</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et </p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-12 ml-auto">
          <div class="form-sec">
            <form id="" class="" name="" method="" action="">
              <div class="form-group">
                <input type="text" id="" class="form-control" name="" value="" placeholder="Enter your email address">
                <button type="button" class="btn btn-primary btn-search"><i class="fa fa-telegram" aria-hidden="true"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!--/.subscribe-sec-->
</article><!--/.st_content-->
